*.iml
.gradle
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
*.pepk
*.keystore
.externalNativeBuild
.cxx
app/google-services.json

.idea/codeStyles/Project.xml

.idea/

*.apk

